

.roster-week-navigation .btn {
    margin-left: 15px;
}

.roster-week-navigation .btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.roster-week-navigation .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.roster-week-navigation .btn {
    margin-bottom: 10px;
    border: 1px solid black;
    display: inline;
}

.roster-week-navigation .week-name, .roster-week-navigation form {
    display: inline;
}

.roster-week-navigation h4 {
    display: inline;
    padding: 0px 10px 0px 10px;
}
