@model MyInstitution.MVC.Models.DashboardModel
@using MyInstitution.MVC.Components

@using Microsoft.AspNetCore.Identity
@using MyInstitution.MVC.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

Anstehende Termine

Anstehende bzw. vergangende Veranstaltungen
Veranstaltungen mit den Kinder im Wald oder mit Eltern / Elterabend bzw. Elter-Kindgespräch
<div class="row">
    <div class="col-sm-6">
            <div class="card-header">
                <h3>Events</h3>
            </div>
            <div class="form-card">
                @if (Model.Events != null)
                {
                    @foreach (var _event in Model.Events.OrderByDescending(e => e.Event.DateBegin))
                    {
                        <div id="event-@_event.Event.Id">

                            @await Html.PartialAsync("~/Views/Shared/_EventPartial.cshtml", _event)

                        </div>

                    }
                }
            </div>
        
    </div>
    <div class="col-sm-6">
        <div class="card-header">
            <h3>My Events</h3>
        </div>
        <div class="form-card">
            @if (Model.Events != null)
            {
                @foreach (var _event in Model.Events.Where(e => e.UserIsMember == true).OrderByDescending(e => e.Event.DateBegin))
                {
                    <div id="event-@_event.Event.Id">

                        @await Html.PartialAsync("~/Views/Shared/_EventPartial.cshtml", _event)

                    </div>

                }
            }
        </div>
    </div>
</div>



<script>

    function MemberStatusChanged(eventId, userId) {

        var _eventMember = { Id: 0, EventId: eventId, ApplicationUserId: userId };

        $.ajax({
            url: "EventMembers/StatusChanged",
            type: "POST",
            data: {
                eventMember: _eventMember
            },
            complete: function (data) {
                RefreshEvent(_eventMember.EventId);
            }
        });
    }

    function RefreshEvent(eventId) {
        $("#event-" + eventId).load("Privacy/GetEvent/" + eventId);
    };
</script>